@{
    ViewBag.Title = "AdminHomePage";
}

<h2>Admin HomePage</h2>

<p>
    @Html.ActionLink("View Users", "AllBookingList", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("View Unapproved Booking", "UnApprovedBookings", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("View Stocks", "Index", "Stocks", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Generate Report", "Report", "Booking", null, new { @class = "btn btn-primary" })
</p>