@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    ViewBag.Title = "RejectedBookingList";
}


<h2>Rejected Booking List</h2>
<br/>
<div id="approve">
    <table id ="booking" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Booking ID
                </th>
                <th>
                    Booking Date
                </th>
                <th>
                    Return Date
                </th>
                <th>
                    Approve
                </th>
                <th>
                    Manage
                </th>
            </tr>
        </thead>
    @foreach (var booking in Model.Bookings)
    {
        <!--Partial View here-->
        @Html.Partial("_BookingApprove", booking)
    }
    </table>
</div>

<ul class="pager">
    <li>
        @Html.ActionLink("<< Return to Home", "AdminHomePage")
    </li>
</ul>

@section scripts 
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#booking").DataTable();

            $('#approve').on('click',
                '.approveRow',
                function () {

                    var container = $(this).closest('.approve');
                    var bookingId = container.find('.bookingId').val();
                    var $tr = $(this).closest('tr');

                    if (bookingId) {
                        bootbox.confirm("Approve Booking?", function (result) {
                            if (result) {
                                $.ajax({
                                    type: "PUT",
                                    url: "@Url.Action("ApproveBooking", "Booking")",
                                    ajaxsync: true,
                                    data: { bookingId: bookingId },
                                    success: function () {
                                        bootbox.alert("Booking has been Approved.", function() {
                                            $tr.find('td').fadeOut(500,
                                                function() {
                                                    $tr.remove();
                                                });
                                            // maybe place location.reload() here to reload the page if no rows left.
                                        });
                                    },
                                    error: function (xhr, textStatus, errorThrown) {
                                        bootbox.alert(errorThrown);
                                    }
                                });
                            }
                        });
                    }
                });
        });
    </script>
    
}