@model ArgicultureInventorySystem.ViewModel.UcBookingStockViewModel

@{
    ViewBag.Title = "UnapprovedBookingList";
}

@{
    var count = 0;
    var count2 = 0;
}

<h2>Unapproved Booking List</h2>
<br/>
<div id="approve">
    <table id ="booking" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Booking Date
            </th>
            <th>
                Booking Date
            </th>
            <th>
                Approve / Reject
            </th>
            <th>

            </th>
        </tr>
        </thead>
    @foreach (var booking in Model.Bookings)
    {
        <!--Partial View here-->
        @Html.Partial("_BookingApprove", booking)
    }
    </table>
</div>
    <p>
        @Html.ActionLink("Return to Home", "AdminHomePage", null, new { @class = "btn btn-primary" })
    </p>

@section scripts 
    {
        <script type="text/javascript">
            $(document).ready(function() {

                $("#booking").DataTable();

                $('#approve').on('click',
                    '.approveRow',
                    function () {

                        var container = $(this).closest('.approve');
                        var bookingId = container.find('.bookingId').val();
                        var $tr = $(this).closest('tr');

                        if (bookingId) {
                            bootbox.confirm("Approve Booking?", function (result) {
                                if (result) {
                                    $.ajax({
                                        type: "PUT",
                                        url: "@Url.Action("ApproveBooking", "Booking")",
                                        ajaxsync: true,
                                        data: { bookingId: bookingId },
                                        success: function () {
                                            bootbox.alert("Booking has been Approved.", function() {
                                                $tr.find('td').fadeOut(500,
                                                    function() {
                                                        $tr.remove();
                                                    });
                                                // maybe place location.reload() here to reload the page if no rows left.
                                            });
                                        },
                                        error: function (xhr, textStatus, errorThrown) {
                                            bootbox.alert(errorThrown);
                                        }
                                    });
                                }
                            });
                        }
                    });

                $('#approve').on('click',
                    '.disapproveRow',
                    function() {

                        var container = $(this).closest('.approve');
                        var bookingId = container.find('.bookingId').val();
                        var $tr = $(this).closest('tr');

                        if (bookingId) {
                            bootbox.confirm("Reject Booking?", function(result) {
                                if (result) {
                                    $.ajax({
                                        type: "PUT",
                                        url: "@Url.Action("RejectBooking", "Booking")",
                                        ajaxsync: true,
                                        data: { bookingId: bookingId },
                                        success: function () {
                                            bootbox.alert("Booking has been Rejected.", function() {
                                                $tr.find('td').fadeOut(500,
                                                    function () {
                                                        $tr.remove();
                                                    });
                                                // maybe place location.reload() here to reload the page if no rows left.
                                            });
                                        
                                        },
                                        error: function (data) {
                                            bootbox.alert("Rejection Failed");
                                        }
                                    });
                                }
                            });
                        }
                    });


            });


        </script>

    }
