<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c247cec3-28a7-431f-aca4-9c24a8bf4c4a/resourceGroups/ArgInvSysResource/providers/Microsoft.Web/sites/ArgicultureInventorySystem</ResourceId>
    <ResourceGroup>ArgInvSysResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://argicultureinventorysystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>argicultureinventorysystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ArgicultureInventorySystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ArgicultureInventorySystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=arginvsysserver.database.windows.net;Initial Catalog=ArgInvSysDB;Persist Security Info=True;User ID=rayadderley;Password=K@mpung2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ArgicultureInventorySystem.Models.ApplicationDbContext, ArgicultureInventorySystem" MigrationConfiguration="ArgicultureInventorySystem.Migrations.Configuration, ArgicultureInventorySystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=arginvsysserver.database.windows.net;Initial Catalog=ArgInvSysDB;Persist Security Info=True;User ID=rayadderley;Password=K@mpung2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>